@import "../mixin";

.table_title {
    color: #2B3644;
    font-family: Sf Pro Display;
    font-size: 18px;
    font-weight: 500;
    line-height: 145%;
}

.buttons_container {
    display: flex;
    align-items: center;
    gap: 10px;

    .download_btn,
    .add_new_order_btn {
        color: rgba(103, 119, 140, 0.70);
        font-family: SF Pro Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 145%;
        cursor: pointer;
        transition: 0.3s;
    }

    .download_btn {
        width: 90px;
        height: 36px;
        border-radius: 10px;
        border: 1px solid #D2D5DA;
        background: #FFF;
        @include flex-center;
        gap: 7px;

        &:hover {
            background-color: #f7f5f5;
        }
    }

    .send_btn {
        width: 160px;
        height: 36px;
        border-radius: 10px;
        background: #2400FF;
        color: #FFF;
        font-family: SF Pro Display;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        @include flex-center;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #2103df;
        }
    }

    .add_new_order_btn {
        width: 160px;
        height: 36px;
        @include flex-center;
        border-radius: 10px;
        border: 1px solid #D2D5DA;
        background: #F3F4F6;
        color: #2400FF;

        &:hover {
            background-color: #e6e7e8;
        }
    }
}

.table_buttons {
    display: flex;
    gap: 1rem;
    align-items: center;

    .td_edit_button,
    .td_remove_button {
        cursor: pointer;
    }
}

.table_pagination {
    @include table_pagination;
}

.waiting,
.sent,
.exported,
.returned {
    display: flex;
    width: 100px;
    height: 33px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.waiting {
    color: #F1C40F;
    background: rgba(241, 196, 15, 0.10);
}

.sent {
    color: #07BC0C;
    background: rgba(7, 188, 12, 0.08);
}

.exported {
    color: #3498DB;
    background: rgba(52, 152, 219, 0.08);
}

.returned {
    color: #E74C3C;
    background: rgba(231, 76, 60, 0.08);
}

.platform_info_container {
    width: 361px;
    padding: 22px;
    border-radius: 10px;
    background: #FFF;
    font-family: Sf Pro Display;
    position: absolute;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .dropdown_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #67778C;
        font-family: Sf Pro Display;
        font-size: 17.612px;
        font-weight: 500;
        line-height: 140%;
    }

    .dashed_line {
        border-top: 1px dashed #ccc;
        margin-top: 10px;
        width: 100%;
        position: absolute;
        left: 0;
    }

    .info_content {
        margin-top: 30px;

        .popup_item {
            display: flex;
            gap: 23px;
            margin-bottom: 18px;
        }

        .title {
            width: 102px;
            text-align: left;
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            font-size: 13.209px;
            font-weight: 400;
            color: #67778C;
        }

        .description {
            text-align: left;
            display: flex;
            row-gap: 11.4px;
            font-size: 13.209px;
            font-weight: 400;
            align-items: center;
            gap: 9px;

            .desc_icon {
                margin-top: 2px;
            }

            .desc_text {
                margin-bottom: 2px;
            }
        }

        svg {
            path {
                stroke: #2400FF;
            }
        }

    }
}

.three_dots {
    cursor: pointer;

    .item {
        padding: 10px;

        &:hover {
            border-radius: 10px;
            background-color: #f3efef;
        }
    }
}

.filters_container {
    width: 388px;
    border-radius: 10px;
    font-family: SF Pro Display;
    height: 448px;
    overflow: scroll;

    .header {
        padding: 8px 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #2B3644;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #D2D5DA;
        background: #F4F6F8;
    }

    .filters {
        padding: 11px 24px 11px 11px;

        .filter_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 11px;
            margin-top: 22px;
            width: 356px;

            .filter_name {
                color: rgba(103, 119, 140, 0.80);
                font-size: 16px;
                font-weight: 400;
            }

            .clear_filter {
                color: #2400FF;
                font-size: 13px;
                font-weight: 500;
                cursor: pointer;
            }
        }

        .filter_input {
            width: 361px;
            height: 42px;
            border-radius: 6px;
            border: 1px solid rgba(103, 119, 140, 0.40);
            background: #FFF;
            // margin-bottom: 22px;

        }

        .buttons_container {
            @include flex-center;
            justify-content: space-between;
            margin-top: 27px;

            .clear_btn {
                color: #67778C;
                font-size: 16px;
                cursor: pointer;
                font-weight: 400;
            }

            .apply_btn {
                width: 100px;
                height: 37px;
                border-radius: 8px;
                background: #1D4ED8;
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                border: none;
                @include flex-center;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #2103df;
                }
            }
        }
    }

}

.select_footer {
    font-size: 14px;
    font-weight: 400;
    width: 318px;
    display: flex;
    justify-content: space-between;

    .select_all {
        color: #2400FF;
        cursor: pointer;
    }

    .clear {
        color: #67778C;
        cursor: pointer;
    }
}