@import "./mixin";

.main_container {
    display: flex;
    overflow-x: hidden;
    height: 100%;
    background-color: #fbfbfc;
}

.navbar_and_body {
    width: 100vw;
}

.body_container {
    // height: 100vh;
    width: 100%;
    padding: 3.6rem 2.4rem;
    background-color: #fbfbfc;
}

.ant-modal-content {
    padding: 0px !important;
}

.ant-modal {
    font-family: Sf Pro Display;
}

.ant-popover {
    font-family: Sf Pro Display;
}

.ant-form-item-label{
    white-space: nowrap !important;
}

.ant-col-8 {
    max-width: 200px !important;
}

.ant-col-16{
    max-width: 344px !important;
}

.ant-select-selection-wrap{
    align-self: center !important;
}

.ant-form-item{
    margin-bottom: 0px !important;
}