@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-cancel {
  width: 8.9rem;
  height: 4.7rem;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  transition: 0.3s;
}

@mixin button-finish {
  width: 11.5rem;
  height: 4.7rem;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  transition: 0.3s;
}

@mixin modal_fonts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9rem;
}

@mixin modal_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 2.8rem;
  color: #3c3c3c;
}

@mixin input-border {
  border-radius: 5px;
  border: 1px solid #000;
}

@mixin table_pagination {
  height: 3.5rem;
  margin-top: 1.8rem;
  @include flex-center;
  justify-content: space-between;

  .pagination_details_txt {
    @include modal_fonts;
    color: #959ca3 !important;
  }

  .pagination {
    button {
      background: #2400ff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;

      svg {
        margin-top: 4px;
      }

      path {
        fill: #fff;
      }

      &:hover {
        background-color: #2103df;
      }
    }

    ul {
      gap: 15px;
      padding: 0;

      li {
        height: 35px;
        color: #3c3c3c;
        cursor: pointer;
        @include flex-center;
        @include modal_fonts;
        font-weight: 400;

        a {
          width: 30px;
          text-align: center;
        }

        &:hover {
          background-color: #f3efef;
          border-radius: 10px;
          transition: 0.3s;
        }

      }
    }
  }
}

.previous a,
.next a {
  width: 36px !important;

}

@mixin vertical_scrollbar {

  /* width */
  &::-webkit-scrollbar {
    width: 1.8rem;
  }

  &::-webkit-scrollbar-button {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    display: block;
    background-color: #eaeef9;
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    height: 1.8rem;
  }

  &::-webkit-scrollbar-button:vertical:start:increment {
    display: none;
  }

  &::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url("/images/scroll_up.svg");
  }

  &::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url("/images/scroll_down.svg");
  }

  &::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eaecf2 !important;
    border-radius: 2.7rem;
    border: 0.5rem solid #fff !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #c0c7da !important;
  }
}